workflow.json
{"id":"pPjrwVH7uiHG2AWp","name":"Clinical Genomics ETL — VCF to FHIR R4","active":false,"nodes":[{"id":"6c20db62-8096-4115-bb1a-10a2fe79d02d","webhookId":"vcf-to-fhir-intake-new","name":"VCF Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,592],"parameters":{"httpMethod":"POST","path":"vcf-to-fhir-etl","responseMode":"responseNode","options":{"binaryPropertyName":"vcf_content"}}},{"id":"7f2b3140-4ac9-433d-89dc-91fc5f6de84a","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,592],"parameters":{"jsCode":"const input = $input.first();\nconst body  = input.json.body ?? input.json;\n\nlet vcfContent = null;\nconst binaryKey = Object.keys(input.binary ?? {}).find(k => k.startsWith('vcf_content'));\n\nif (binaryKey) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n  vcfContent = buffer.toString('utf-8');\n} else if (body.vcf_content) {\n  vcfContent = body.vcf_content;\n} else {\n  throw new Error('Validation failed: no vcf_content provided (binary or JSON)');\n}\n\nconst patient_id   = body.patient_id;\nconst sample_id    = body.sample_id;\nconst genome_build = body.genome_build;\nconst lab_id       = body.lab_id ?? 'UNKNOWN';\n\nfor (const [k, v] of Object.entries({ patient_id, sample_id, genome_build })) {\n  if (!v) throw new Error(`Validation failed: missing field '${k}'`);\n}\n\nconst allowed = ['GRCh37', 'GRCh38', 'hg19', 'hg38'];\nif (!allowed.includes(genome_build))\n  throw new Error(`Invalid genome_build: ${genome_build}. Allowed: ${allowed.join(', ')}`);\n\nvcfContent = vcfContent\n  .replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n')\n  .split('\\n')\n  .filter(l => !l.startsWith('##') && l.trim() !== '')\n  .join('\\n');\n\nif (!vcfContent.includes('#CHROM'))\n  throw new Error('Invalid VCF: missing #CHROM header');\n\nreturn [{ json: {\n  patient_id,\n  sample_id,\n  genome_build,\n  lab_id,\n  vcf_content: vcfContent,\n  validated_at: new Date().toISOString()\n}}];\n"}},{"id":"1802e0c3-a503-4ae4-8c0a-80222e1b8ee1","name":"Parse VCF","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,592],"parameters":{"jsCode":"const input = $input.first().json;\n\nlet rawVcf = input.vcf_content;\n\nif (!rawVcf || typeof rawVcf !== 'string' || !rawVcf.includes('#CHROM')) {\n  const binary = $input.first().binary ?? {};\n  if (binary.vcf_content) {\n    rawVcf = Buffer.from(binary.vcf_content.data, 'base64').toString('utf-8');\n  }\n}\n\nif (!rawVcf || !rawVcf.includes('#CHROM')) {\n  throw new Error('No valid variants found in VCF content [line 29]');\n}\n\nconst lines = rawVcf\n  .split('\\n')\n  .filter(l => !l.startsWith('#') && l.trim());\n\nconst variants = lines\n  .map((line, idx) => {\n    const [chrom, pos, id, ref, alt, qual, filter, info] = line.split('\\t');\n    return {\n      patient_id:     input.patient_id,\n      sample_id:      input.sample_id,\n      genome_build:   input.genome_build,\n      lab_id:         input.lab_id ?? 'UNKNOWN',\n      validated_at:   input.validated_at,\n      variant_index:  idx,\n      chrom:          (chrom ?? '').replace('chr', ''),\n      pos:            parseInt(pos ?? '0'),\n      variant_id:     id === '.' ? null : id,\n      ref:            ref ?? '',\n      alt:            alt ?? '',\n      qual:           qual === '.' ? null : parseFloat(qual ?? '0'),\n      filter:         filter ?? 'UNKNOWN',\n      info:           info ?? '',\n      pass:           (filter ?? '').trim() === 'PASS',\n    };\n  });\n\nif (variants.length === 0) {\n  throw new Error('No valid variants found in VCF content [line 29]');\n}\n\nreturn variants.map(v => ({ json: v }));\n"}},{"id":"e8eae21a-0652-4247-8516-83d62fdec871","name":"ClinVar Lookup","type":"n8n-nodes-base.code","typeVersion":2,"position":[656,592],"parameters":{"jsCode":"const variants = $input.all().map(item => item.json);\nconst enriched = [];\nconst apiKey   = $env.NCBI_API_KEY ?? '';\nconst delay    = apiKey ? 120 : 400; // 10/sec with key, 3/sec without\n\nfor (const variant of variants) {\n  await new Promise(r => setTimeout(r, delay));\n\n  const term = (variant.variant_id && variant.variant_id !== 'null')\n    ? `${variant.variant_id}[rs]`\n    : `${variant.chrom}[chr]+${variant.pos}` +\n      ((['GRCh38','hg38'].includes(variant.genome_build)) ? '[chrpos38]' : '[chrpos37]');\n\n  let clinvar_uid           = null;\n  let clinical_significance = 'not_in_clinvar';\n\n  try {\n    const searchUrl = `https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi` +\n      `?db=clinvar&term=${encodeURIComponent(term)}&retmode=json&retmax=1` +\n      (apiKey ? `&api_key=${apiKey}` : '');\n\n    const searchRes = await this.helpers.httpRequest({ method: 'GET', url: searchUrl });\n    const ids = searchRes.esearchresult?.idlist ?? [];\n    clinvar_uid = ids.length > 0 ? ids[0] : null;\n\n    if (clinvar_uid) {\n      await new Promise(r => setTimeout(r, delay));\n\n      const summaryUrl = `https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi` +\n        `?db=clinvar&id=${clinvar_uid}&retmode=json` +\n        (apiKey ? `&api_key=${apiKey}` : '');\n\n      const summaryRes = await this.helpers.httpRequest({ method: 'GET', url: summaryUrl });\n      const sig = summaryRes.result?.[clinvar_uid]?.clinical_significance?.description\n                  ?? 'uncertain_significance';\n      clinical_significance = sig.toLowerCase().replace(/ /g, '_');\n    }\n  } catch(e) {\n    clinical_significance = 'lookup_error';\n  }\n\n  enriched.push({ json: { ...variant, clinvar_uid, clinical_significance } });\n}\n\nreturn enriched;\n"}},{"id":"76244ab3-2eda-419f-8a5f-70438f602f3c","name":"Aggregate Variants","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[880,592],"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"variants","options":{}}},{"id":"abf987c4-8b2f-4e2b-bf50-1e0587d387d3","name":"Build FHIR Diagnostic Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,592],"parameters":{"jsCode":"const allVariants = $input.first().json.variants;\nconst first = allVariants[0];\nconst { patient_id, sample_id, genome_build, lab_id, validated_at } = first;\n\nconst LOINC = {\n  VARIANT_ASSESSMENT: '69548-6',\n  REF_ALLELE:         '69547-8',\n  ALT_ALLELE:         '69551-1',\n  EXACT_START:        '81254-5',\n  GENOME_BUILD:       '62374-4',\n  CHROM:              '47999-8',\n  CLIN_SIG:           '53037-8'\n};\n\nconst buildCode = ['GRCh38','hg38'].includes(genome_build)\n  ? 'LA26806-2'\n  : 'LA14029-5';\n\nconst patientRef = {\n  type: \"Patient\",\n  identifier: {\n    system: \"urn:lab:patient-id\",\n    value: patient_id\n  },\n  display: patient_id\n};\n\nconst observations = allVariants.map((v, idx) => ({\n  resourceType: 'Observation',\n  id: `var-${sample_id}-${idx}`,\n  meta: {\n    profile: ['http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/variant']\n  },\n  status: v.filter === 'PASS' ? 'final' : 'preliminary',\n  category: [{\n    coding: [{\n      system: 'http://terminology.hl7.org/CodeSystem/observation-category',\n      code: 'laboratory'\n    }]\n  }],\n  code: {\n    coding: [{\n      system: 'http://loinc.org',\n      code: LOINC.VARIANT_ASSESSMENT,\n      display: 'Genetic variant assessment'\n    }]\n  },\n  subject: patientRef,\n  valueCodeableConcept: {\n    coding: [{ system: 'http://loinc.org', code: 'LA9633-4', display: 'Present' }]\n  },\n  component: [\n    {\n      code: { coding: [{ system: 'http://loinc.org', code: LOINC.GENOME_BUILD }] },\n      valueCodeableConcept: { coding: [{ system: 'http://loinc.org', code: buildCode }] }\n    },\n    {\n      code: { coding: [{ system: 'http://loinc.org', code: LOINC.CHROM }] },\n      valueCodeableConcept: { text: `chr${v.chrom}` }\n    },\n    {\n      code: { coding: [{ system: 'http://loinc.org', code: LOINC.EXACT_START }] },\n      valueRange: { low: { value: v.pos } }\n    },\n    {\n      code: { coding: [{ system: 'http://loinc.org', code: LOINC.REF_ALLELE }] },\n      valueString: v.ref\n    },\n    {\n      code: { coding: [{ system: 'http://loinc.org', code: LOINC.ALT_ALLELE }] },\n      valueString: v.alt\n    },\n    ...(v.clinical_significance && v.clinical_significance !== 'not_in_clinvar'\n      ? [{\n          code: { coding: [{ system: 'http://loinc.org', code: LOINC.CLIN_SIG }] },\n          valueCodeableConcept: { text: v.clinical_significance }\n        }]\n      : [])\n  ]\n}));\n\nconst diagnosticReport = {\n  resourceType: 'DiagnosticReport',\n  id: `report-${sample_id}`,\n  identifier: [{\n    system: \"urn:lab:sample-id\",\n    value: sample_id\n  }],\n  meta: {\n    profile: ['http://hl7.org/fhir/uv/genomics-reporting/StructureDefinition/genomics-report']\n  },\n  status: 'final',\n  category: [{\n    coding: [{\n      system: 'http://terminology.hl7.org/CodeSystem/v2-0074',\n      code: 'GE',\n      display: 'Genetics'\n    }]\n  }],\n  code: {\n    coding: [{\n      system: 'http://loinc.org',\n      code: '81247-9',\n      display: 'Master HL7 genetic variant reporting panel'\n    }]\n  },\n  subject: patientRef,\n  issued: new Date().toISOString(),\n  result: observations.map(o => ({ reference: `#${o.id}` })),\n  contained: observations\n};\n\nconst pathogenic = allVariants.filter(v =>\n  ['pathogenic','likely_pathogenic'].includes(v.clinical_significance)\n).length;\n\nreturn [{ json: {\n  diagnosticReport,\n  patient_id, sample_id, lab_id, genome_build, validated_at,\n  observation_count: observations.length,\n  pass_count:        allVariants.filter(v => v.filter === 'PASS').length,\n  pathogenic_count:  pathogenic\n}}];\n"}},{"id":"ae82c109-6a2a-4d82-b792-8578e512075c","name":"Prepare Patient Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,592],"parameters":{"jsCode":"const data = $input.first().json;\n\nconst bundle = {\n  resourceType: \"Bundle\",\n  type: \"transaction\",\n  entry: [\n    {\n      resource: {\n        resourceType: \"Patient\",\n        identifier: [{ system: \"urn:lab:patient-id\", value: data.patient_id }],\n        name: [{ text: data.patient_id }]\n      },\n      request: {\n        method: \"POST\",\n        url: \"Patient\",\n        ifNoneExist: `identifier=urn:lab:patient-id|${data.patient_id}`\n      }\n    },\n    {\n      resource: data.diagnosticReport,\n      request: {\n        method: \"POST\",\n        url: \"DiagnosticReport\"\n      }\n    }\n  ]\n};\n\nreturn [{ json: {\n  ...data,\n  bundleString: JSON.stringify(bundle)\n}}];\n"}},{"id":"0edc6383-057b-41fe-a41f-9e554f86d12f","name":"Submit Patient To FHIR","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1552,592],"parameters":{"method":"POST","url":"https://hapi.fhir.org/baseR4/Patient","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/fhir+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"resourceType\": \"Patient\",\n  \"identifier\": [{\"system\": \"urn:lab:patient-id\", \"value\": \"{{ $json.patient_id }}\"}],\n  \"name\": [{\"text\": \"{{ $json.patient_id }}\"}]\n}\n","options":{}},"onError":"continueRegularOutput"},{"id":"26131463-9a49-454e-be3d-857953e70355","name":"Prepare Report Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,592],"parameters":{"jsCode":"const data = $('Build FHIR Diagnostic Report').item.json;\n\nreturn [{ json: {\n  ...data,\n  reportJson: JSON.stringify(data.diagnosticReport)\n}}];\n"}},{"id":"68586381-730b-40b6-9c7a-f62b7c496d77","name":"Submit Report To FHIR","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2000,592],"parameters":{"method":"POST","url":"https://hapi.fhir.org/baseR4/DiagnosticReport","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/fhir+json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/fhir+json","body":"={{ $json.reportJson }}\n","options":{"response":{"response":{"fullResponse":true}}}},"alwaysOutputData":false,"executeOnce":false},{"id":"9e70ccc4-d38f-4f71-b68f-7f6ca23c6740","name":"Extract Report ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,592],"parameters":{"jsCode":"const input = $input.first().json;\n\nconst location = input.headers?.location\n  ?? input.headers?.Location\n  ?? input.headers?.['content-location']\n  ?? '';\n\nconst reportId = location.includes('DiagnosticReport/')\n  ? location.split('DiagnosticReport/')[1].split('/')[0]\n  : null;\n\nconst data = input.data ? JSON.parse(input.data) : input;\nconst sampleId = data.sample_id ?? input.sample_id;\n\nconst fhirUrl = reportId\n  ? `https://usama-zameer84.github.io/fhir-report-viewer/?id=${reportId}`\n  : `https://hapi.fhir.org/baseR4/DiagnosticReport?identifier=urn:lab:sample-id|${sampleId}`;\n\nreturn [{ json: {\n  ...input,\n  fhir_server_report_id: reportId,\n  fhir_html_url: fhirUrl\n}}];\n"}},{"id":"new-html-report-node-id-1234","name":"Format HTML Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,592],"parameters":{"jsCode":"const fhirData = $('Extract Report ID').item.json;\nconst diagData = $('Build FHIR Diagnostic Report').item.json;\nconst variants = $('Aggregate Variants').item.json.variants;\n\nconst pathogenicCount = diagData.pathogenic_count;\nconst passCount = diagData.pass_count;\nconst totalCount = diagData.observation_count;\nconst sampleId = diagData.sample_id;\nconst patientId = diagData.patient_id;\nconst genomeBuild = diagData.genome_build;\nconst reportUrl = fhirData.fhir_server_report_id ? `https://hapi.fhir.org/baseR4/DiagnosticReport/${fhirData.fhir_server_report_id}` : '#';\n\nconst variantRows = variants.map((v, i) => {\n  const isPathogenic = ['pathogenic', 'likely_pathogenic'].includes(v.clinical_significance);\n  const sigStyle = isPathogenic ? 'color: #fc8181; font-weight: bold;' : 'color: #a0aec0;';\n  return `<tr>\n    <td>${i+1}</td>\n    <td>chr${v.chrom}:${v.pos}</td>\n    <td>${v.ref} &rarr; ${v.alt}</td>\n    <td style=\"${sigStyle}\">${v.clinical_significance.replace(/_/g, ' ')}</td>\n    <td>${v.filter}</td>\n    <td>${v.clinvar_uid ? `<a href=\"https://www.ncbi.nlm.nih.gov/clinvar/variation/${v.clinvar_uid}/\" target=\"_blank\" style=\"color:#63b3ed;\">${v.clinvar_uid}</a>` : 'N/A'}</td>\n  </tr>`;\n}).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\"/>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>VCF to FHIR Clinical Report — ${sampleId}</title>\n  <style>\n    * { box-sizing: border-box; margin: 0; padding: 0; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n           background: #0f1117; color: #e2e8f0; padding: 2rem; }\n    .container { max-width: 1100px; margin: 0 auto; }\n    header { background: linear-gradient(135deg, #1a1f2e, #2d3748);\n             border: 1px solid #4a5568; border-radius: 12px;\n             padding: 2rem; margin-bottom: 2rem; }\n    header h1 { font-size: 1.8rem; color: #68d391; margin-bottom: 0.5rem; }\n    .meta { display: flex; gap: 2rem; flex-wrap: wrap; margin-top: 1rem; }\n    .meta-item { background: #2d3748; padding: 0.5rem 1rem;\n                 border-radius: 8px; font-size: 0.85rem; }\n    .meta-item span { color: #a0aec0; }\n    .highlight { color: #f6ad55; font-weight: bold; }\n    .alert { color: #fc8181; font-weight: bold; }\n    section { background: #1a1f2e; border: 1px solid #2d3748;\n              border-radius: 12px; padding: 1.5rem; margin-bottom: 1.5rem; }\n    section h2 { font-size: 1.2rem; color: #63b3ed; margin-bottom: 1rem;\n                 padding-bottom: 0.5rem; border-bottom: 1px solid #2d3748; }\n    table { width: 100%; border-collapse: collapse; font-size: 0.88rem; }\n    th { background: #2d3748; color: #a0aec0; text-align: left;\n         padding: 0.6rem 0.8rem; font-weight: 600; text-transform: uppercase;\n         font-size: 0.75rem; letter-spacing: 0.05em; }\n    td { padding: 0.6rem 0.8rem; border-bottom: 1px solid #2d3748; }\n    tr:last-child td { border-bottom: none; }\n    tr:hover td { background: #2d3748; }\n    a { color: #63b3ed; text-decoration: none; }\n    a:hover { text-decoration: underline; }\n    footer { text-align: center; color: #4a5568; font-size: 0.8rem; margin-top: 2rem; }\n  </style>\n</head>\n<body>\n<div class=\"container\">\n  <header>\n    <h1>Clinical Genomics ETL Report</h1>\n    <div class=\"meta\">\n      <div class=\"meta-item\"><span>Patient ID: </span><span class=\"highlight\">${patientId}</span></div>\n      <div class=\"meta-item\"><span>Sample ID: </span><span class=\"highlight\">${sampleId}</span></div>\n      <div class=\"meta-item\"><span>Genome Build: </span>${genomeBuild}</div>\n      <div class=\"meta-item\"><span>FHIR Report: </span><a href=\"${reportUrl}\" target=\"_blank\">View on HAPI</a></div>\n      <div class=\"meta-item\"><span>Generated: </span>${new Date().toLocaleString()}</div>\n    </div>\n  </header>\n\n  <section>\n    <h2>Variant Summary</h2>\n    <div class=\"meta\" style=\"margin-top: 0;\">\n      <div class=\"meta-item\"><span>Total Variants: </span>${totalCount}</div>\n      <div class=\"meta-item\"><span>Quality PASS: </span>${passCount}</div>\n      <div class=\"meta-item\"><span class=\"${pathogenicCount > 0 ? 'alert' : ''}\">Pathogenic/LP: </span><span class=\"${pathogenicCount > 0 ? 'alert' : ''}\">${pathogenicCount}</span></div>\n    </div>\n  </section>\n\n  <section>\n    <h2>Variant Details (ClinVar Enriched)</h2>\n    <table>\n      <thead><tr><th>#</th><th>Position</th><th>Mutation</th><th>Significance</th><th>Filter</th><th>ClinVar UID</th></tr></thead>\n      <tbody>\n        ${variantRows}\n      </tbody>\n    </table>\n  </section>\n\n  <footer>Generated by VCF to FHIR ETL Pipeline · n8n · ${new Date().getFullYear()}</footer>\n</div>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"}},{"id":"88a705fe-d4a6-4603-9bb8-ff4b8e1104c8","name":"Return HTTP Report","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3120,592],"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}}},{"id":"6a021263-c01c-4e68-9787-5c5d070da98e","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-16,816],"parameters":{}},{"id":"7f011154-9d93-4e36-8b27-8213f46b1111","name":"Format Error Details","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,816],"parameters":{"jsCode":"const err = $input.first().json;\nreturn [{ json: {\n  error_message: err.execution?.error?.message ?? 'Unknown error',\n  error_node:    err.execution?.lastNodeExecuted ?? 'Unknown',\n  workflow_name: err.workflow?.name ?? 'VCF ETL',\n  execution_id:  String(err.execution?.id ?? 'N/A'),\n  timestamp:     new Date().toISOString()\n}}];"}}],"connections":{"VCF Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Parse VCF","type":"main","index":0}]]},"Parse VCF":{"main":[[{"node":"ClinVar Lookup","type":"main","index":0}]]},"ClinVar Lookup":{"main":[[{"node":"Aggregate Variants","type":"main","index":0}]]},"Aggregate Variants":{"main":[[{"node":"Build FHIR Diagnostic Report","type":"main","index":0}]]},"Build FHIR Diagnostic Report":{"main":[[{"node":"Prepare Patient Payload","type":"main","index":0}]]},"Prepare Patient Payload":{"main":[[{"node":"Submit Patient To FHIR","type":"main","index":0}]]},"Submit Patient To FHIR":{"main":[[{"node":"Prepare Report Payload","type":"main","index":0}]]},"Prepare Report Payload":{"main":[[{"node":"Submit Report To FHIR","type":"main","index":0}]]},"Submit Report To FHIR":{"main":[[{"node":"Extract Report ID","type":"main","index":0}]]},"Extract Report ID":{"main":[[{"node":"Format HTML Report","type":"main","index":0}]]},"Format HTML Report":{"main":[[{"node":"Return HTTP Report","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Error Details","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"callerPolicy":"workflowsFromSameOwner"},"tags":[],"isArchived":false}